{% extends  'account_page.html' %}

{% block content %}
<div class = "row">
    <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="login-form">
              <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                  <button type="submit" class="btn btn-black">Đăng nhập</button>
               </form>
                <hr>
                <h4>Chưa có tài khoản?</h4>
              <a href="{% url 'blog:signup' %}" class="stretched-link">Đăng ký</a>
            </div>
        </div>
</div>
 {% endblock content %}