{% extends 'account_page.html' %}
{% load static %}

{% block content %}
<div class = "row">
    <div class="col-md-4">
    </div>
  <div class="col-md-4">
      <div class="login-text">
        <h2>Đăng ký tài khoản mới</h2>
        <form method="post" >
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class = "btn btn-lg btn-gradient-primary btn-block btn-rounded mb-4 mt-5">Đăng ký tài khoản</button>
        </form>
      </div>
  </div>
</div>

{% endblock %}