{% extends  'base.html' %}
{% load static %}

{% block title %}Trang Blog của tôi{% endblock title %}

{% block customize_css %}
<link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
{% endblock customize_css %}

{% block content %}
<div class="col-md-8">
{% if user.is_authenticated %}
    <h1 class="my-4">Bài viết mới
            <small>Học HTML-CSS-JavaScript</small>
            {% if ketquatimkiem > 0 %}
                <small>: Tìm thấy {{ ketquatimkiem }} bài viết</small>
            {% elif ketquatimkiem == 0 %}
                <small>: Không tìm thấy bài viết phù hợp</small>
            {% endif %}
    </h1>


    {% for baiviet in baiviets %}

    <!-- Blog Post -->
    <div class="card mb-4">
        <a href="{% url 'blog:noidung_baiviet' baiviet.pk %}">
            <img class="card-img-top" src="{{ baiviet.anhbia.url }}" alt="Card image cap">
        </a>
        <div class="card-body">
            <a href="{% url 'blog:noidung_baiviet' baiviet.pk %}"><h3 class="card-title">{{ baiviet.tieude }}</h3></a>
            <p class="card-text">{{ baiviet.noidung|slice:"0:250" }} . . .

                <a class="btn btn-sm btn-outline-primary" href="{% url 'blog:noidung_baiviet' baiviet.pk %}">Đọc
                    tiếp</a></p>
        </div>
        <div class="card-footer text-muted">
            Đăng lúc {{baiviet.ngay_dang}} bởi
            {% if user.first_name %}
            <a href="#">{{user.first_name}}</a>
            {% else %}
            <a href="#">{{user.username}}</a>
            {% endif %}
        </div>
    </div>

    {% endfor %}

        <!-- Pagination -->
            {% if is_paginated %}
              <ul class="pagination justify-content-center mb-4">
                {% if page_obj.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Cũ hơn</a></li>
                {% else %}
                   <li class="page-item disabled">
                      <span class="page-link">Cũ hơn</span>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                  {% if page_obj.number == i %}
                    <li class="page-item active">
                        <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                    </li>
                  {% else %}
                    <li class="page-item"><a class="page-link"  href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Mới hơn</a></li>
                {% else %}
                  <li class="page-item disabled">
                      <span class="page-link">Mới hơn</span>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
        <!-- End Pagination -->


<!-- Else  user is not authenticated -->
{% else %}
    <div class="card my-4">
        <h5 class="card-header">Blog của tôi</h5>
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Xin chào!</strong>
            <h3 class="mb-0">Chào mừng đến với Blog của tôi</h3>
            <p>Bạn cần có tài khoản để đăng nhập vào trang này</p>
            <p>Chưa có tài khoản?</p>
            <a href="{% url 'blog:signup' %}" class="stretched-link">Đăng ký tài khoản</a>
        </div>
    </div>
{% endif %}
</div>
{% endblock content %}
